h1 {
	color:white;
}

body {
	background-color:#4D4E4F;
	text-align:center;
	margin:100px;
	border-left:3px gray solid;
	border-right:3px gray solid;
	border-top:3px gray solid;
	border-bottom:3px gray solid;
	padding:20px;
	width:400px;



}

ul {
	display:inline;
}

li {
	display:inline;
	padding:3px;
	color:white;
	font-size:16px;
}

article {
	text-align:left;
	color:white;
	font-size:12px;
	border-top:3px gray solid;
	border-bottom:3px gray solid;

}

h3 {
	font-size:12px:;
}

img {
	float:right;
	height:175px;
	width:175px;
	padding:5px;
	border-left:3px gray solid;
	border-right:3px gray solid;
	border-top:3px gray solid;
	border-bottom:3px gray solid;

}



